# Скопируйте в .env только если перейдёте на подстановку ${VAR}.
# Сейчас пароли/ключи зашиты в docker-compose.yml как в старом проекте.
POSTGRES_PASSWORD=Kolyok213131z_
NAKAMA_SERVER_KEY=gDNVymCHsgbFr6QL4ENkImtds7Bu3T7bi1TG9QUDE0U=
NAKAMA_CONSOLE_USER=Prokrust
NAKAMA_CONSOLE_PASSWORD=Kolyok42650z_
